/*CSS*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: azure;
}

header{
    background-color:darkblue ;
    color: white;
    text-align: center;
}
nav{
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px){
    body{
        padding: 8px;
    }
    nav{
        display: block;
    }
}

@media (min-width: 1025px){
    body{
        padding: 16px;
    }
    nav{
        display: block;
    }
    nav li {
        display: inline; /*uno al lado del otro*/
    }
}