.fboxtop{
            display:flex;
            flex-direction: row;
            justify-content: center;
        }
.fboxmid{
            display:flex;
            flex-direction: row;
            justify-content: right;
        }
